@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/colors" as color;

.next-videos-container {
  background-color: color.$color-primary-ligthest;
  padding: 1rem;
  max-width: 20rem;
  @include breakpoint.medium {
    max-width: 23.313rem;
    padding: 1.5rem 2.25rem 2.25rem 2.25rem;
  }
  @include breakpoint.large {
    padding-left: 1.5rem;
    padding-right: 0;
    max-width: 20.188rem;
    min-width: 20.188rem;
  }
  &__label-text {
    margin-bottom: -0.188rem;
    color: color.$color-primary-light;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
