/* primary colors */
$color-primary-dark: #323232;
$color-primary-brand: #0095ff;
$color-primary-light: #afafaf;
$color-primary-ligthest: #ffffff;

/* secundary colors */
$color-secondary-dark: #000000;
$color-secondary-brand: #0065ad;
$color-secondary-light: #e1e1e1;
$color-secondary-lightest: #fafafa;

/*error state*/
$input-box-error: #d22d2d;
