@use "./partials/fonts" as *;

html,
body,
input,
textarea,
button {
  margin: 0;
  font-family: "AvenirNextLTPro";
  box-sizing: border-box;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
span {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
