@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/colors" as color;

.next-videos-items {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  max-height: 3.75rem;
  min-height: 3.75rem;
  @include breakpoint.medium {
    margin-top: 1.5rem;
  }

  &__image-container {
    max-width: 6.25rem;
    min-width: 6.25rem;
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: color.$color-secondary-light;
  }

  &__image {
    border-radius: 0.25rem;
    max-width: 6.25rem;
    max-height: 3.938rem;
    min-width: 6.25rem;
    min-height: 3.938rem;
    object-fit: cover;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
  }

  &__body-copy {
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: -0.013em;
    font-weight: 400;
    color: color.$color-primary-dark;
    @include breakpoint.medium {
      letter-spacing: 0;
      font-size: 0.875rem;
    }
    &--title {
      font-weight: 700;
    }
  }
}
