@use "./styles/partials/breakpoints" as breakpoint;
@use "./styles/partials/colors" as color;

.app-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: color.$color-primary-ligthest;
}
.main-container {
  background-color: color.$color-primary-ligthest;
}
